@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
   /*  color: #05060f; */
}

.container{
    width: 1500px;
    max-width: 90%;
    height: 100%;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

